# Harshitha Bannur

## Research question/interests

Among the many categories of analysis I was interested in regarding this dataset, I think I would like to focus on how the numbers between female and male workers vary amongst those who report mental health issues. I would also then like to compare these numbers to those who have care options and those who don't, along with the use of the data regarding 'mental-health consequence' to investigate how the importance workers give their mental health and how this varies among men and women in the workplace

My research question is: **Is there a relationship between the mental health issues women and men face and how important they think their mental health is to their well-being at the workplace?**

To plan this, I'm thinking of dropping columns that may not be relevant to my research such as the family history, or the timestamp, physical health consequence and such columns. Since most of the columns are reported from the US, it would be beneficial to focus on workers just in the US to also identify trends in their care systems and policies to see how it affects mental health differently between the two genders if needed. I will filter out the records only in the USA for this. Further more, I will answer my question by doing a count of men and women who report mental health issues to see the initial variance in numbers. I will then use the other data about their leave policies, treatment, self-employment, mental health consequence to make a judgement on how men and women's varying attitude on mental health may affect their well-being at the workplace.

## My Code:

In [ ]:
import pandas as pd

df = pd.read_csv("../data/raw/mental health in tech.csv")
df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

### **An EDA of the dataset:**

In [ ]:
#Importing what I think I need:
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns
import pandas_profiling
from pandas_profiling import ProfileReport

In [ ]:
#Understanding my dataset
shape=df.shape
columns=df.columns

print(shape)
print(columns)

(1259, 27)
Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [ ]:
profile = ProfileReport(df, title="Mental Heath in tech Dataset", html={'style': {'full_width': True}}, sort="None")

C:\Users\User\miniconda3\lib\multiprocessing\pool.py:478: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  iterable = list(iterable)

TypeError: _plot_histogram() got an unexpected keyword argument 'title'

In [ ]:
df2=df.drop(['Timestamp','Age', 'self_employed','state','family_history', 'no_employees','remote_work',
              'comments'], axis=1)
df2.head()

,Gender,Country,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,Female,United States,Yes,Often,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,M,United States,No,Rarely,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,Male,Canada,No,Rarely,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,Male,United Kingdom,Yes,Often,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,Male,United States,No,Never,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [ ]:
# to focus my dataset, I will filter through results only in the United States
df3=df2[df2["Country"].str.contains("United States")]

# and now filter for only workers in tech companies
data=df3.loc[df3['tech_company'] == 'Yes']
data.head(5)
# I can now save this as it's own repsective dataset to work off of

,Gender,Country,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,Female,United States,Yes,Often,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
4,Male,United States,No,Never,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
5,Male,United States,No,Sometimes,Yes,Yes,Not sure,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No
6,Female,United States,Yes,Sometimes,Yes,No,No,No,No,No,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No
8,Female,United States,Yes,Sometimes,Yes,Yes,Yes,No,No,No,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No

**Possible Visualizations:**

In [ ]:
# A bar plot of female and male workers who have sought treatment for their mental health issues

ctab = pd.crosstab(df['Gender'], df['treatment'])

sns.set(style="whitegrid")
sns.barplot(x=ctab.index, y="count", hue=ctab.columns, data=ctab.reset_index().melt(id_vars=["Gender"], var_name="treatment_response", value_name="count"))


plt.title('Mental Illness Treatment Response by Gender')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

ValueError: Grouper and axis must be same length