# Harshitha Bannur

## Research question/interests

Among the many categories of analysis I was interested in regarding this dataset, I think I would like to focus on how the numbers between female and male workers vary amongst those who report mental health issues. I would also then like to compare these numbers to those who have care options and those who don't, along with the use of the data regarding 'mental-health consequence' to investigate how the importance workers give their mental health and how this varies among men and women in the workplace

My research question is: **Is there a relationship between the mental health issues women and men face and how important they think their mental health is to their well-being at the workplace?**

To plan this, I'm thinking of dropping columns that may not be relevant to my research such as the family history, or the timestamp, physical health consequence and such columns. Since most of the columns are reported from the US, it would be beneficial to focus on workers just in the US to also identify trends in their care systems and policies to see how it affects mental health differently between the two genders if needed. I will filter out the records only in the USA for this. Further more, I will answer my question by doing a count of men and women who report mental health issues to see the initial variance in numbers. I will then use the other data about their leave policies, treatment, self-employment, mental health consequence to make a judgement on how men and women's varying attitude on mental health may affect their well-being at the workplace.

In [ ]:
import pandas as pd

df = pd.read_csv("../data/raw/mental health in tech.csv")
df.head(9)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,...,Don't know,No,No,No,No,No,No,No,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN